<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <span class="navbar-brand h1 mb-0">Sendgeance</span>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navmenu">
            <div class="navbar-nav ms-auto">
                <li class="nav-item"><a href="/dashboard" class="nav-link">Home</a></li>
                <li class="nav-item nav-link">|</li>
                <li class="nav-item"><a href="/new" class="nav-link">Start/Review Workout</a></li>
                <li class="nav-item nav-link">|</li>
                {{!-- <li class="nav-item"><a href="/current" class="nav-link">Review/Edit Current Workout</a></li> --}}
                <li class="nav-item"><a href="/review" class="nav-link">Past Workout Review</a></li>
                <li class="nav-item nav-link">|</li>
                <li class="nav-item"><a href="/auth/logout" class="nav-link">Logout</a></li>
            </div>
        </div>
    </div>
</nav>