<nav class="grey darken-3">
    <div class="class nav-wrapper container">
        <a href="#!" class="brand-logo center">StoryBooks - Mayanwolfe</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/dashboard">Home Screen</a></li>
            <li><a href="/new">New Workout</a></li>
            <li><a href="/current">Review/Edit Current Workout</a></li>
            <li><a href="/review">Review Past Workouts</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>