<div class="text-center mt-4">
    <form style="max-width:480px;margin:auto">
        <h1 class="h3 mb-3 font-weight-normal"><i class="fa-solid fa-dumbbell mr-3"></i> Sendgeance</h1>
        <p class="lead">Cool words here</p>

        <div class="section">
            <a href="/auth/google" class="btn btn-primary mb-4" role="button">
                <i class="fab fa-google left"></i> Log in with Google
            </a>
</div>
    </form>
</div>





{{!-- <h3><i class="fa-solid fa-dumbbell"></i> Sendgeance</h3>
<div class="section">
    <p class="lead">Cool words here</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log in with Google
    </a>
</div> --}}